body {
    background-color: black;
    color: white;
    padding: 5%;
}

h1 {
    font-size: 800%;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: lighter;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.description {
    margin-left: 3%;
    font-size: 18px;
}

iframe {
    border: none;

}

main {
    display: flex;
    justify-content: space-between;
}

.about {
    font-size: 32px;
    font-family: 'Times New Roman', Times, serif;
    margin-right: 40px;
}

.about-me {
    background-color: antiquewhite;
    color: black;

    width: 70%;
    border-radius: 15px;
    margin-left: 15%;
    font-size: 24px;
}

h2 {
    margin-left: 45%;
}

.text {
    padding: 30px;
}

.container {
    display: flex;
    justify-content: space-around;
}

.card {
    width: 25%;
    background-color: linen;
    color: black;
    box-sizing: border-box;
    padding: 1%;
    height: 310px;
    text-align: center;
    border-radius: 15px;
}

.card:hover {
    transform: scale(1.03);
    transition: 500ms;
}

.card1,
.card3 {
    margin-top: 150px;
}

.work {
    font-size: 50px;
    margin: 0px;
    margin-bottom: -80px;
    margin-left: 10%;
}

.p-head {
    font-weight: bold;
    font-size: 24px;
}

div>a {
    font-size: 20px;
}

footer {
    margin-top: 200px;
    display: flex;
    justify-content: space-between;
}

.connect {
    font-size: 100px;
    margin-top: 0px;
    margin-bottom: 50px;
}

.contact {
    margin-right: 10%;
    margin-top: 100px;
}

span {
    font-size: 24px;
    font-weight: bold;
}